<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>My application deployed automatically</title>
    <body style="background-color:#B71E46;">
      <div class="row">
      <div class="col">
        <form action="compute" method="post">
          <p style="margin-top:10px;margin-left:10px;color:#fbfbfb;">Firstname</p>
          <textarea style="margin-left:5px;" name="input1" rows="5" cols="15"></textarea>
          <p style="margin-top:10px;margin-left:10px;color:#fbfbfb;">Lastname</p>
          <textarea style="margin-left:5px;" name="input2" rows="5" cols="15"></textarea>
          <br>
          <input style="margin-top:20px;margin-left:5px;" type="submit">
        </form>
      </div>
      <div class="col">
        <h1>Hello, World!</h1>
        <p style=width:70pt;color:#fbfbfb;>{{result}} </p>
      </div>
    </div>
    </body>
  </head>
</html>
  
